

:root {
  --black: #000000;
  --white: #ffffff;
  --gray-light: #f8f9fb;
  --gray-dark: #525a5b;
  --purple: #333399;
  --pink: #ff00cc;
  --green-light: #38ef7d;
  --green-dark: #11998e;
  --blue-100: #56ccf2;
  --blue-200: #2f80ed;
  --blue-300: #1e5d87;
  --blue-400: #2f68c4;
  --blue-500: #5071a1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 40px;
  --space-7: 48px;
  --space-8: 56px;
  --space-9: 64px;
  --space-10: 72px;
  --radius-1: 4px;
  --font-size-3: 16px;
  --font-size-4: 24px;
  --font-weight-1: 400;
  --font-weight-2: 700;
  --shadow-1: rgba(0, 0, 0, 0.16) 0 1px 4px;
  --border-1: 1px dashed var(--gray-dark);
  --border-4: 4px solid var(--white);
}

html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--gray-light);
  height: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  padding: var(--space-4) 0;
}

nav a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  border: var(--border-4);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-4);
  margin: 0 0 var(--space-2) 0;
  padding: var(--space-2);
}

nav a:last-of-type {
  margin-bottom: 0;
}

nav a,
nav a:active,
nav a:focus,
nav a:visited {
  color: var(--white);
}

.wrapper {
  margin: 0 var(--space-2);
}

.container {
  background-color: var(--white);
  box-shadow: var(--shadow-1);
  padding: var(--space-4);
  margin-bottom: var(--space-2);
  border-radius: var(--radius-1);
  overflow-wrap: break-word;
}

h1 {
  margin: 0 0 var(--space-4) 0;
}

h2 {
  color: var(--blue-300);
  margin: var(--space-6) 0 var(--space-3) 0;
}

h2 small {
  font-size: var(--font-size-3);
}

h3 {
  color: var(--blue-500);
  margin: var(--space-2) 0 var(--space-1) 0;
}

h3 small {
  color: var(--gray-dark);
  font-weight: var(--font-weight-1);
}

h4 {
  color: var(--blue-300);
  margin: var(--space-2) 0 var(--space-1) 0;
}

p {
  margin: 0 0 var(--space-3) 0;
}

a,
a:active,
a:focus,
a:visited {
  color: var(--blue-400);
  text-decoration: underline;
  font-weight: var(--font-weight-2);
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul {
  margin-left: var(--space-2);
  padding: var(--space-2);
}

li {
  line-height: 20px;
}

img {
  border: var(--border-1);
  height: auto;
  max-width: 100%;
}

.resume {
  background: var(--green-light);
  background: -webkit-linear-gradient(to right, var(--green-dark), var(--green-light));
  background: linear-gradient(to right, var(--green-dark), var(--green-light));
}

.resume:hover,
.resume:focus {
  background: -webkit-linear-gradient(to bottom, var(--green-dark), var(--green-light));
  background: linear-gradient(to bottom, var(--green-dark), var(--green-light));
}

.project {
  background: var(--pink);
  background: -webkit-linear-gradient(to right, var(--purple), var(--pink));
  background: linear-gradient(to right, var(--purple), var(--pink));
}

.project:hover,
.project:focus {
  background: -webkit-linear-gradient(to bottom, var(--purple), var(--pink));
  background: linear-gradient(to bottom, var(--purple), var(--pink));
}

.linkedin {
  background: var(--blue-200);
  background: -webkit-linear-gradient(to right, var(--blue-200), var(--blue-100));
  background: linear-gradient(to right, var(--blue-200), var(--blue-100));
}

.linkedin:hover,
.linkedin:focus {
  background: -webkit-linear-gradient(to bottom, var(--blue-200), var(--blue-100));
  background: linear-gradient(to bottom, var(--blue-200), var(--blue-100));
}

.no-margin {
  margin: 0;
}

.mobile span {
  display: none;
}

.mobile span:after {
  content: '\00B7';
  margin-left: 6px;
}

.desktop {
  display: none;
}

@media (min-width: 1000px) {
  .wrapper {
    width: 800px;
    margin: 0 auto;
  }
  .container {
    padding: var(--space-8);
    margin-bottom: var(--space-4);
  }
  .desktop {
    display: block;
  }
}

@media (min-width: 650px) {
  nav {
    flex-direction: row;
  }
  nav a {
    margin: 0 var(--space-2) 0 0;
    padding: var(--space-4) var(--space-2);
  }
  nav a:last-of-type {
    margin-right: 0;
  }
  ul {
    margin-left: var(--space-4);
    padding: var(--space-3) var(--space-4);
  }
  .links-list {
    margin: 0 0 var(--space-2) 0;
    padding: 0;
  }
  .links-list li {
    display: inline-block;
  }
  .links-list li:after {
    content: ' \00B7';
  }
  .links-list li:last-of-type:after {
    content: '';
  }
  .mobile span {
    display: inline-block;
  }
  .mobile span:before {
    content: '\00B7';
    margin-right: 6px;
  }
}
